.main{
  width: 60%;
  margin: auto;
}
.header{
  display: flex;
  width: 60%;
  margin: auto;
}
.header > button{
  height: fit-content;
  margin-top: 7%;
  margin-left: 3%;
}
.search{
  width: 60%;
  margin: auto;
}
.search > input{
  width: 60%;
}
.img{
  margin-top: 5%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.btn{
  background-color:#6666;
  color: white;
  font-size: large;
  border: none;
  position: absolute;
  text-align: center;
  margin-left: 5%;
  margin-top: 10%;
  z-index: 1;
  float: right;
}
.images{
  width: 200px;
  height: 200px;
}
.bookmarkedImages{
  width: 200px;
  height: 200px;
}
.goback{
  display: flex;
}
.goback > button{
  height: fit-content;
  margin-top: 2%;
  background-color: red;
  color: white;
}